* {
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../images/peter-olexa-Ax6ggq8cSxw-unsplash.jpg);
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  background-image: linear-gradient(to bottom, #f9a92034, rgb(0, 0, 0));
}

/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Example font */
}
/* nav bar */

.navbar {
  border-bottom: 2px solid #976818;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    /* #003542, */ #372608,
    black
  ); /* Dark background for the navbar */
  color: white;
  padding: 10px 20px;
  z-index: 10;
}

.navbar-left,
.navbar-right {
  text-shadow: 0 0 10px #016a84;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-left {
  font-family: "Orbitron", sans-serif;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px; /* Space between links */
  transition: transform 0.3s ease;
}

.navbar-right a:hover {
  transform: scale(0.8) translateY(2px); /* Make element smaller and move it down */
}

.logo {
  width: 180px;
  margin: 20px auto 0px auto;
  text-align: center;
}

h1,
h2,
h1 {
  color: #ffffff;
  font-weight: 500;
}

h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  padding-top: 25px;
  margin-top: 0;
}

#tokenomics h2 {
  color: #ffffff;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
  font-weight: 500;
}

#splash {
  margin-top: 30px;
  padding-top: 0px;
  max-width: 100%;
  background-image: linear-gradient(to bottom, #0b0700, rgba(0, 0, 0, 0.849));
  height: 300px;

  border-bottom: 2px solid white;
}

#splash p {
  color: white;
  font-size: 1.5rem;
}

/* .splashimg, .splashdiv {
  display: inline-block;
}

.splashimg {
  height: 300px;
  border: 2px solid white;
  margin-left: 0;
  margin-right: auto;
} */
.ca {
  word-wrap: break-word;
}

section {
  max-width: 700px;
  margin: 30px auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.flip {
  transform: rotateX(180deg);
  transition: transform 1.5s ease-in-out;
}

p,
li {
  line-height: 1.5;
}

#buy ol,
#roadmap ul {
  text-align: left;
  line-height: 2;
}

footer {
  opacity: 0.5;
}

#buttons {
  border: 1px solid white;
  padding: 15px;
  width: auto;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #372608, rgba(0, 53, 66, 0.13));
  max-width: 50%;
}

#buttons a {
  text-decoration: none;
  color: white;
}

button {
  background-image: linear-gradient(to bottom, #372608, black);
  color: rgb(255, 255, 255); /* Button text color */
  border: rgb(0, 0, 0);
  text-shadow: 1px 1px 0 rgb(60, 60, 60);
  padding: 5px 7px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.582);
  font-weight: 600;
}

button:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

#tokenomics {
  text-shadow: 2px 2px 0 rgb(60, 60, 60);
  padding: 10px;
  border: 1px solid white;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 79, 99, 0.18),
    rgba(0, 53, 66, 0.13)
  );
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.582);
  margin: 0 auto;
  max-width: 50%;
  border-radius: 4px;
}

#tokenomics p {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

#about,
#roadmap {
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #0b0700, rgba(0, 0, 0, 0.692));
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

#about {
  text-align: center;
}

#about b {
  color: #f9a920;
}

#about p {
  border-top: 1px solid white;
  line-height: 25px;
  padding-top: 17px;
}

#about h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.larger {
  scale: 1.3;
}

#buy {
  border: 3px solid rgba(255, 255, 255, 0.557);
  border-radius: 4px;
  box-shadow: 0px 4px 20px white;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.194),
    rgba(255, 255, 255, 0.39)
  );
}

section {
  transform: rotateX(
    90deg
  ); /* Adjust as needed; rotates the section out of view */
  transition: transform 1s;
}

.visible {
  transform: rotateX(0deg); /* Rotate back to normal */
}

section#splash {
  transform: rotateY(0deg) !important;
}

#roadmap ul {
  position: relative;
  min-height: 40px; /* Adjust based on your li's height */
}
#roadmap li {
  display: none; /* Hide all li elements initially */
  position: absolute;
  width: 100%;
  list-style-type: circle;
}
.fade {
  animation-name: fadeEffect;
  animation-duration: 2s;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h3 {
  font-weight: 400;
  text-decoration: underline;
}

#socials {
  border: 1px solid white;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: black;
  margin-bottom: 40px;
  color: #f9a920;
}

#socials button {
  box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.582);
}
#socials button:hover {
  box-shadow: 0 0 0;
  transform: translate(2px, 2px);
}
iframe {
  margin: 10px;
}

@media (max-width: 764px) {
  #splash {
    width: 100%;
  }
  #about,
  #buy,
  #socials,
  #roadmap {
    width: 85%;
  }
}
