/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Body styling */
body {
  font-family: Arial, sans-serif; /* You can change the font family to your preference */
  background-color: #111;
  color: white;
}

/* Navigation bar styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(
    to bottom,
    #333,
    #111
  ); /* Adjust the color values as per your requirements */
  color: white;
  z-index: 1000;
  height: 2.2rem;
  border-bottom: 1px solid white;
  font-weight: 300;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#logo {
  position: relative;
  font-weight: 800;
  font-size: 1.5rem;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: -7px;
  left: -18px;
}
/* Prompt section styling */
.tokenlogo {
  width: 100px;
}

#prompt-section {
  margin-top: 50px; /* Adjust this value to give space for the fixed navbar */
  padding: 20px;
  text-align: center;
  min-height: 70vh;
  font-size: 0.95em;
  padding: 10px;
  line-height: 1.5rem;
  text-align: center;
}
.therapist {
  display: block;
  margin: 15px;
}
.convo {
  display: block;
  padding: 6px;
  margin: 4px auto;
  cursor: pointer;
  font-weight: 400;
  min-width: 20px;
  outline: none;
  background-color: red;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}

.side {
  display: inline-block;
}

#talk-to-therapist-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  animation: bounceButton 0.3s ease-in-out infinite;
}

.first {
  margin-top: 15px;
}

/* Section styling */
section {
  padding: 20px;
  margin-top: 20px;
}

/* Footer styling */
footer {
  padding: 20px;
  text-align: center;
}

#prompt-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#image-container img {
  width: auto;
  height: auto;
  max-width: 230px;
  max-height: 300px;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#image-container img.fade-in {
  opacity: 1;
}

#text-container {
  max-width: 800px;
  width: 100%;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes bounceButton {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.bounce {
  animation: bounce 0.3s ease-in-out infinite;
}

p {
  text-align: center;
  margin: 4px auto;
}
h1 {
  text-align: center;
  margin: 10px auto;
}

/* Other CSS */

#Tokenomics {
  background-image: url("./images/tumblr_lt52l5a4Y41qg39ewo1_500.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  padding: 50px 20px;
  min-height: 400px;
  overflow: hidden;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#Tokenomics h1,
#Tokenomics ul {
  font-size: 1.8rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  list-style-type: none;
}

#Tokenomics h1 {
  margin: 0 auto;
  width: fit-content;
}

.glitchy-content {
  position: relative;
  z-index: 2;
  color: white;
}

.glitchy-content h2,
.glitchy-content ul {
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    text-shadow: none;
  }
  20% {
    transform: translate(-5px, 5px);
    text-shadow: 3px 0 red;
  }
  40% {
    transform: translate(5px, -5px);
    text-shadow: -3px 0 red;
  }
  60% {
    transform: translate(-3px, 3px);
    text-shadow: 3px 0 red;
  }
  80% {
    transform: translate(3px, -3px);
    text-shadow: -3px 0 red;
  }
  100% {
    transform: translate(0);
    text-shadow: none;
  }
}

.glitchy-images {
  .glitchy-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.glitchy-image {
  position: absolute;
  width: 100px;
}

.glitchy-content {
  z-index: 10;
}

#video-jp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/dog-cupcake.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}

#video-jp iframe {
  transform: rotate(180deg);
  border: 2px solid red;
}

#memes {
  position: relative;
  padding: 20px;
  color: white;
}

.meme-gallery img {
  width: 150px;
  margin: 10px;
}

.memes-background1,
.memes-background2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.memes-background1 {
  background-image: url("./images/spongebob-spongebob-meme.gif");
  background-size: cover;
  animation: memesBlend1 5s infinite alternate;
}

.memes-background2 {
  background-image: url("./images/trauma.gif");
  background-size: cover;
  animation: memesBlend2 5s infinite alternate;
}

@keyframes memesBlend1 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes memesBlend2 {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes memeGlitch {
  0% {
    transform: translate(0);
    filter: hue-rotate(0deg);
  }
  25% {
    transform: translate(5px, 8px);
    filter: hue-rotate(45deg);
  }
  50% {
    transform: translate(-5px, -8px);
    filter: hue-rotate(-45deg);
  }
  75% {
    transform: translate(8px, 5px);
    filter: hue-rotate(90deg);
  }
  100% {
    transform: translate(0);
    filter: hue-rotate(0deg);
  }
}
