* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Body styling */
body {
  background-color: #000000;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

#main-content {
  display: none;
  width: 100vw;
  padding: 0;
  position: relative;
  top: -10px;
  overflow-x: hidden;
}

/* Navigation bar styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(to bottom, #333, #111);
  color: white;
  z-index: 1000;
  height: 2.2rem;
  border-bottom: 1px solid white;
  font-weight: 300;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#logo {
  position: relative;
  font-weight: 800;
  font-size: 1.5rem;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: -7px;
  left: -18px;
}
/* Prompt section styling */

#prompt-section {
  text-align: center;
  background-image: url(./images/$PTSD.gif);
  background-repeat: repeat-x;
  animation: moveBackground 10s linear infinite;
  background-position: center; /* Updated to center only to ensure vertical centering */
  height: 240px;
  margin-top: 45px;
  filter: saturate(250%);
  position: relative;
}

@keyframes moveBackground {
  from {
    background-position: 100% center; /* Added center to ensure vertical centering */
  }
  to {
    background-position: 0 center; /* Added center to ensure vertical centering */
  }
}

/* #prompt-section {

  margin-top: 40px;
  padding: 20px;
  text-align: center;
  min-height: 70vh;
  font-size: 0.95em;
  padding: 10px;
  line-height: 1.5rem;
  text-align: center;
  background-image: url(./images/$PTSD.gif);
} */
/* switch above on if returning to therapist functionality */

#prompt-section p {
  visibility: hidden;
}
/* delete above to return to therapist functionality */

.convo {
  display: block;
  padding: 6px;
  margin: 4px auto;
  cursor: pointer;
  font-weight: 400;
  min-width: 20px;
  outline: none;
  background-color: red;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}

.side {
  display: inline-block;
}

#talk-to-therapist-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  animation: bounceButton 0.3s ease-in-out infinite;
  display: none;
  /* turns off the therapist fucntionality trigger button */
}

.first {
  margin-top: 15px;
}

/* Section styling */
section {
  padding: 20px;
  margin-top: 20px;
}

/* Footer styling */
footer {
  padding: 20px;
  text-align: center;
}

#prompt-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#image-container img {
  width: auto;
  height: auto;
  max-width: 230px;
  max-height: 300px;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#image-container img.fade-in {
  opacity: 1;
}

#text-container {
  max-width: 800px;
  width: 100%;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes bounceButton {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.bounce {
  animation: bounce 0.3s ease-in-out infinite;
}

p {
  text-align: center;
  margin: 4px auto;
}
h1 {
  text-align: center;
  margin: 10px auto;
  z-index: 98;
  position: relative;
}

/* Other CSS */

#Tokenomics {
  background-image: url("./images/tumblr_lt52l5a4Y41qg39ewo1_500.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  padding: 50px 20px;
  min-height: 400px;
  overflow: hidden;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/trauma.gif) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 0.5;
  z-index: 1;
  background-position: center center !important;
}

.overlay4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/meme-traumatized.gif) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 0.5;
  z-index: 1;
  background-position: center center !important;
}

.overlay5 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.26) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 0.4;
  z-index: 4;
  background-position: center center !important;
}

h2 {
  z-index: 99;
}

#Tokenomics audio {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 45px;
}

#Tokenomics h1,
#Tokenomics ul {
  font-size: 1.8rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  list-style-type: none;
}

#Tokenomics h1 {
  margin: 0 auto;
  width: fit-content;
}

.glitchy-content {
  position: relative;
  z-index: 2;
  color: white;
}

.glitchy-content h2,
.glitchy-content ul {
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    text-shadow: none;
  }
  20% {
    transform: translate(-5px, 5px);
    text-shadow: 3px 0 red;
  }
  40% {
    transform: translate(5px, -5px);
    text-shadow: -3px 0 red;
  }
  60% {
    transform: translate(-3px, 3px);
    text-shadow: 3px 0 red;
  }
  80% {
    transform: translate(3px, -3px);
    text-shadow: -3px 0 red;
  }
  100% {
    transform: translate(0);
    text-shadow: none;
  }
}

.glitchy-images {
  .glitchy-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.glitchy-image {
  position: absolute;
  width: 100px;
}

.glitchy-content {
  z-index: 10;
}

#video-jp {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./images/dog-cupcake.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}

#memes {
  position: relative;
  padding: 20px;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 0;
}
#memes {
  position: relative;
}

#memes::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("./images/harold-pain-pain.gif");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(0.7);
}

#memes h1 {
  z-index: 98;
}

.meme-gallery img {
  width: 200px;
  margin: 10px;
}

/* .memes-background1,
.memes-background2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.memes-background1 {
  background-image: url("./images/spongebob-spongebob-meme.gif");
  background-size: cover;
  animation: memesBlend1 5s infinite alternate;
}

.memes-background2 {
  background-image: url("./images/trauma.gif");
  background-size: cover;
  animation: memesBlend2 5s infinite alternate;
}

@keyframes memesBlend1 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes memesBlend2 {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.meme-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.meme {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  margin: 5px;
  overflow: hidden;
  z-index: 99;
}

@keyframes glitchEffect {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  25% {
    transform: scale(1.05);
    filter: brightness(2);
  }
  50% {
    transform: scale(1);
    filter: brightness(1);
  }
  75% {
    transform: scale(0.95);
    filter: brightness(2);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

.glitched {
  animation: glitchEffect 200ms infinite;
}

.meme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Socials {
  /* background-image: url(./images/loopingNoiseRaw.gif); */
  margin-top: 15px;
  color: red;
  font-size: 1.5rem;
}

/* widget section */
#widget {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  background-image: url(./images/white-noise-colourful.gif);
  text-align: center;
}

#dextswap-aggregator-widget {
  z-index: 2;
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-y: hidden;
}

.overlay2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.15;
  z-index: 1;
}

@keyframes glitchEffect {
  0% {
    text-shadow: 1.5px 0 pink, -1.5px 0 cyan;
    transform: skew(0deg);
  }
  25% {
    text-shadow: 3px 0 pink, -3px 0 cyan;
    transform: skew(5deg);
  }
  50% {
    text-shadow: 1.5px 0 pink, -1.5px 0 cyan;
    transform: skew(-5deg);
  }
  75% {
    text-shadow: 3px 0 pink, -3px 0 cyan;
    transform: skew(5deg);
  }
  100% {
    text-shadow: 1.5px 0 pink, -1.5px 0 cyan;
    transform: skew(0deg);
  }
}

.instructions {
  max-width: 75%;
  line-height: 1.8rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
  display: block;
  color: white;
  animation: glitchEffect 1s infinite alternate;
  margin-top: 30px;
}

.instructions h1,
.instructions h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  font-weight: 600;
}

/* #burn {
  background-image: url(./images/fire-51.gif.webp);
  padding: 20px;
  background-size: cover;
  margin-top: 0;
  text-align: center;
}

#burn h1 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  transform: rotate(180deg);
  display: inline-block;
  color: white;
  animation: flaming 1s infinite;
  font-size: 2rem;
} */

.ca {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

/* @keyframes flaming {
  0% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff7c00,
      0 0 40px #ff7c00, 0 0 50px #ff7c00, 0 0 60px #ff7c00;
  }
  50% {
    text-shadow: 0 0 15px #ff0000, 0 0 25px #ff0000, 0 0 35px #ff7c00,
      0 0 45px #ff7c00, 0 0 55px #ff7c00, 0 0 65px #ff7c00;
    color: yellow;
  }
  100% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff7c00,
      0 0 40px #ff7c00, 0 0 50px #ff7c00, 0 0 60px #ff7c00;
  }
} */

#disclaimer {
  margin-top: 0;
  background-color: black;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

#disclaim-me {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  animation: bounceButton 0.3s ease-in-out infinite;
  display: block;
  padding: 6px;
  margin: 4px auto;
  cursor: pointer;
  font-weight: 400;
  min-width: 20px;
  outline: none;
  background-color: red;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}

#disclaimer-text {
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: black;
  color: #333;
  font-size: 0.7rem;
  margin-top: 0;
  position: relative;
  top: -5px;
}

footer p {
  margin: 0;
}

footer a {
  color: #333;
  text-decoration: none;
}

.footer-right a {
  color: rgb(100, 0, 0);
}

footer a:hover {
  text-decoration: underline;
}

/* welcome page */
.split {
  position: fixed;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

/* Control the left side */
.left {
  left: 0;
  background: url("left-image.jpg") center center no-repeat;
  background-size: cover;
}

/* Control the right side */
.right {
  right: 0;
  background: url("right-image.jpg") center center no-repeat;
  background-size: cover;
}

/* Style the header */
#header {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  z-index: 2;
}

/* Style the buttons */
button {
  font-size: 2em;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the centered content */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100 !important;
}

.left {
  left: 0;
  border-right: 2px solid black;
  background-image: url("./images/tumblr_lt52l5a4Y41qg39ewo1_500.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right {
  right: 0;
  background-image: url("./images/download.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header h1,
#header p {
  display: block;
  color: black;
}

#yes-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  display: block;
  padding: 6px;
  margin: 4px auto;
  cursor: pointer;
  font-weight: 400;
  min-width: 20px;
  outline: none;
  background-color: red;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  z-index: 100 !important;
}

#no-button {
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 300;
  animation: none;
  display: block;
  margin: 4px auto;
  cursor: pointer;
  font-weight: 300;
  min-width: 20px;
  outline: none;
  background-color: #add8e6;
  border-radius: 25px;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#no-button:hover {
  background-color: #ffffff;
  color: #add8e6;
  border: 2px solid #add8e6;
}

.glitch {
  color: red;
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.glitch::before {
  color: cyan;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  animation: glitch-animation 1s infinite linear alternate-reverse;
}

.glitch::after {
  color: pink;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  animation: glitch-animation 1s infinite linear alternate;
}

@keyframes glitch-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}

@media screen and (max-width: 560px) {
  #dextools-widget {
    scale: 0.7;
  }
}

#fakeChatContainer {
  position: relative;
  margin-top: 20px;
  width: 290px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); Shadow for a lifted appearance */
  height: 180px;
  margin: 0 auto;
}

/* Container for chat messages */
#chatMessagesContainer {
  max-height: 160px; /* Adjust to fit 4-5 messages */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(200, 200, 200, 0);
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  overflow-y: hidden;
  margin: 0 auto;
}

/* Style for individual chat messages */
.chat-message {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  text-shadow: 2 2 2 rgb(51, 51, 51);
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

/* Style for the DEXTswap widget */
#dextswap-aggregator-widget {
  z-index: 2;
}

#toggle-sound-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 5px 5px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 800;
  outline: none;
  background-color: red;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border-radius: 4px;
  z-index: 6;
  filter: saturate(100%);
}
